/*
.button-cell {
    margin-top: 15px;
    margin-bottom: 15px;
}
*/

.button {
    cursor: pointer;
}

.borders-on-active {
    border: 1px solid rgba(255, 255, 255, 255);
    box-shadow: none;
    font-weight: bold;
}

.borders-on-active:active, .borders-on-active:hover {
    border: 1px solid #cacaca;
}

#objects .button-cell .button {
    aspect-ratio: 1;
    width: 3.6rem;
    padding: 0.2rem;
    margin: 0.2rem;
}

.button-cell img {
    max-height: 90%;
    max-width: 90%;
    min-width: 30px;
    min-height: 30px;
}

#tools .button,
#panels .button {
    aspect-ratio: 1;
    width: 3rem;
    padding: 0.2rem;
    font-size: larger;
}

input[type=color] {
    padding: 0 !important;
    height: 100% !important;
}

#c {
    border: 1px solid #ddd;
    background-color: white;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.grid-container {
    max-width: none;
}

#file-load-save-export, #panels {
    min-height: 5rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/*
.button-cell button:hover {
    background-color: lightgray;
}
*/

.hollow .button:hover,
.hollow.button:hover,
.submenu li:hover {
    background-color: #eee!important;
}

/* Text alignment submenu stylees */

#panels ul.button, .button li,
.button ul {
    list-style-type: none;
    padding: 0;
    /* Setting to hover on the entire parent area */
}

#panels ul.button {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Align icon vertically */
}

.submenu.horizontal {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 0;
    border: 1px solid #ccc;
    z-index: 10;
    white-space: nowrap;
    /* Prevents items from overflowing to a new line */
}

.submenu li {
    padding: 0.3rem;
    display: inline-block;
    vertical-align: middle;
    /* Alingn submenu items vertically */
}

.submenu li:not(:last-child) {
    margin-right: 0;
    /* Space between submenu items */
}

.submenu li a {
    display: block;
    /* Setting to click on the entire link area */
    padding: 0.2rem;
}

/* Show the submenu when hovering the mouse over the parent item */
.submenu-parent:hover .submenu {
    display: block;
}

input.has-tip {
    cursor: auto;
}

h6 {
    text-decoration: underline;
}

/* Help button */
.round-button {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}
