body.dark-mode {
  background: #343434;
  color: white
}

body.dark-mode abbr[title] {
  border-bottom-color: white
}

body.dark-mode .canvas-container {
  background-color: white
}

/* Left buttons */
body.dark-mode .accordion {
  background-color: #343434;;
  color: #fefefe; 
}

/* Right buttons */
body.dark-mode button {
  background-color: #767676;
}

/* The 'title' class of the accordion, when in dark mode, becomes white and bold
   for a better result. */
body.dark-mode .accordion-title,
body.dark-mode select {
  color: #fefefe;
  font-weight: bold;
}

/* Adds shadow to images */
body.dark-mode img {
  -webkit-filter: drop-shadow(0px 1px 7px rgba(211, 211, 255, 0.4));
  -moz-filter: drop-shadow(0px 1px 7px rgba(211, 211, 255, 0.4));
  -ms-filter: drop-shadow(0px 1px 7px rgba(211, 211, 255, 0.4));
  -o-filter: drop-shadow(0px 1px 7px rgba(211, 211, 255, 0.4));
  filter: drop-shadow(0px 1px 7px rgba(211, 211, 255, 0.4));
}



/* Sets the background color of the accordion to dark */
body.dark-mode .accordion-content,
body.dark-mode select {
  background-color: #292929;
}

body.dark-mode .accordion-title:hover,
body.dark-mode .accordion-title:focus {
  background-color: #7a7a7a;
}

body.dark-mode .button-group.hollow .button,
.button-group.hollow .button.disabled,
.button-group.hollow .button[disabled],
.button-group.hollow .button.disabled:hover,
.button-group.hollow .button[disabled]:hover,
.button-group.hollow .button.disabled:focus,
.button-group.hollow .button[disabled]:focus {
  border: 1px solid white;
  color: #e0e0e0;
}

body.dark-mode .submenu a {
  color: #e0e0e0;
}

#tools .button img {
  max-height: 50%;
    max-width: 50%;
    min-width: 21px;
    min-height: 21px;
}

/* Sets the background color of the submenu to dark */
body.dark-mode .submenu {
  background-color: #292929;
}

body.dark-mode .button:hover,
body.dark-mode .submenu li:hover {
  background-color: #424242!important;
}
